<!doctype html>
<head>
  <title>Square Root Page</title>
  <style>
    .fancy {
      color: green;
    }
  </style>
</head>
{% if num < 0 %}
	    <p>You can't get the square root of a negative number!</p>
	    {% elif num == 0 %}
<p>You can't calculate the square root of zero.</p>
{% else %}
<p>The square root of {{ num }} is <span class="fancy">{{ sqrtnum }}</span>
  {% endif %}
